@model Entity.Concrete.User
@{
    ViewData["Title"] = "Giriş Ekranı";
}

<body class="text-center">
    <form class="form-signin col-lg-5 offset-4" asp-action="Index">
        <br />
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1 class="h3 mb-3 font-weight-normal">Lütfen Giriş Yapın</h1>
        <div class="form-group">
            <label asp-for="Username" class="sr-only">Kullanıcı Ad</label>
            <input asp-for="Username" class="form-control" placeholder="Kullanıcı Adı" autofocus=""/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Şifre"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
        </div>
    </form>

</body>